@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-surface: #0e0e0e;
  --color-surface-container-lowest: #000000;
  --color-surface-container-low: #131313;
  --color-surface-container: #1a1a1a;
  --color-surface-container-high: #20201f;
  --color-surface-container-highest: #262626;
  --color-surface-bright: #2c2c2c;
  
  --color-primary: #b6a0ff;
  --color-primary-dim: #7e51ff;
  --color-primary-container: #a98fff;
  
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #adaaaa;
  --color-on-primary: #340090;
  
  --color-outline-variant: #484847;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for clean cinematic look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cinematic-gradient {
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
}
